<div class="fixed-plugin">
  <div class="card shadow-lg p-0">
    <hr class="horizontal dark my-1">
    <div class="card-body pt-sm-3 pt-0 overflow-auto fixed-plugin-body">
      <!-- <div class="mt-2 mb-5 d-flex">
        <h6 class="mb-0">Light / Dark</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
        </div>
      </div> -->
      <div class="mt-2 mb-5" id="server-indicators"></div>
    </div>
  </div>
</div>
