<div class="toast fade hide p-2 bg-white" role="alert" aria-live="assertive" id="connectedToast" aria-atomic="true">
   <div class="toast-header border-0">
      <i class="ni ni-check-bold text-success me-2"></i>
      <span class="me-auto font-weight-bold">Connected</span>
      <small class="text-body"><%- new Date() %></small>
      <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
   </div>
   <hr class="horizontal dark m-0">
   <div class="toast-body">
      Authenticated. Servers Loaded.
   </div>
</div>
