<div id="tab-serverCredentials" class="container-fluid py-4 page-tab" style="display:none">
   <div class="row">
      <div class="col-md-8 mx-auto">
         <div class="card mt-4 search-parent">
            <div class="card-header pb-0 d-flex vertical-center px-3 pt-3">
               <h5 class="mb-0 flex-grow-1"><%- lang.Servers %></h5>
               <div class="pr-1">
                   <input class="form-control form-control-sm search-controller" placeholder="<%- lang.Search %>" id="serverCredentials-search">
               </div>
               <div>
                   <button type="button" class="btn btn-success btn-sm refresh-servers">
                      <i class="fa fa-refresh"></i>
                   </button>
                   <button type="button" class="btn btn-success btn-sm show-server-pane">
                      <i class="fa fa-server"></i>
                   </button>
                   <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modal-serverPairForm">
                      <i class="fa fa-plus"></i>
                   </button>
               </div>
            </div>
            <div class="card-body px-3 pb-0 search-body" id="tab-serverCredentials-list">

            </div>
         </div>
      </div>
   </div>
</div>
<script src="libs/js/dashboard.serverCredentials.js"></script>
