<div id="tab-liveGrid" style="display:none;height: 100vh;overflow:hidden" class="container-fluid p-0 page-tab">
    <div class="grid-stack" id="monitors_live" style="height: 100vh!important;"></div>
    <!-- Live Stream Frameworks -->
    <script src="libs/vendor/poseidon.js"></script>
    <script src="libs/vendor/hls.min.js"></script>
    <!-- Shinobi Loading of Frameworks -->
    <link href="libs/css/dashboard.liveGrid.css" rel="stylesheet" />
    <script src="libs/js/dashboard.liveGrid.js"></script>
</div>
